# Programs that create new files in their config dirs
# that i don't care about
beets/**/state.pickle
beets/**/import.log
cronie/.config/anacron/spool
mpd/**/mpd.db
mpd/**/mpd.log
mpd/**/mpd.pid
mpd/**/mpdstate
ncmpcpp/**/error.log
nvim/.config/nvim/plugin
nvim/.config/nvim/autostart
nvim/.config/nvim/plugged
nvim/**/.netrwhist
shell/.config/zsh/.zcompdump
newsboat/**/urls
weechat/**/irc.conf
weechat/**/sec.conf
weechat/**/weechat.log
weechat/**/weechat_fifo
weechat/**/*.weechatlog

mime/.local/share/applications/mimeapps.list
