# FOR XORG:       DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
# FOR PULSEAUDIO: XDG_RUNTIME_DIR=/run/user/1000

# Backup crontab to dotfiles
0 * * * * cp -- "/var/spool/cron/$(whoami)" ~/dotfiles/.other/crontab

# Exercise reminder
0 * * * * DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus XDG_RUNTIME_DIR=/run/user/1000 ~/.local/bin/pnotify -i /usr/share/icons/Adwaita/48x48/legacy/task-due.png 'Exercise Reminder' 'Get up and give your body\na nice firm stretch\!'

# Push data to OneDrive
0 12 * * 0 ~/.local/bin/odpush
