# FOR XORG:       DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
# FOR PULSEAUDIO: XDG_RUNTIME_DIR=/run/user/1000

# Update dwmblocks updates module
*/30 * * * * ~/.scripts/dwmblocks/updates

# Weekly Delete playlist removal
0 12 * * 0 ~/.local/bin/pldel

# Update locate database
0 12 * * * ~/.local/bin/updatedb

# Delete some nvim files older than 60 days
0 12 */3 * * find "${XDG_DATA_HOME}/nvim/backup" -mtime +60 -delete
0 12 */3 * * find "${XDG_DATA_HOME}/nvim/view"   -mtime +60 -delete
0 12 */3 * * find "${XDG_DATA_HOME}/nvim/swap"   -mtime +60 -delete
