[Unit]
Description=Randoragons Arch Linux Updates Counting script

[Service]
Type=simple
User=pcache
Group=pcache
ExecStart=/usr/local/bin/updatecount 600
Restart=always

[Install]
Alias=updatecount.service
