[Desktop Entry]
Type=Application
Name=dualf
Exec=/usr/local/bin/st -e dualf %u
Icon=/usr/share/icons/Adwaita/64x64/places/folder-symbolic.symbolic.png

