[Desktop Entry]
Type=Application
Name=lf
Exec=/usr/local/bin/st -e lf --  %f
Terminal=false
Icon=/usr/share/icons/Adwaita/64x64/places/folder-symbolic.symbolic.png
