[Desktop Entry]
Type=Application
Name=lf
Exec=/usr/bin/termite -e lf --  %f
Terminal=true
Icon=/usr/share/icons/Adwaita/64x64/places/folder-symbolic.symbolic.png
