rofi.theme: ~/.config/rofi/gruvbox-dark-hard-colon.rasi
rofi.modi: combi
rofi.show-icons: true
rofi.combi-modi: drun,run
rofi.matching: normal
rofi.kb-primary-paste: Control+V,Shift+Insert
rofi.kb-secondary-paste: Control+v,Insert
rofi.kb-clear-line: Control+l
rofi.kb-move-front: Alt+k
rofi.kb-move-end: Alt+j
rofi.kb-move-word-back: Alt+H
rofi.kb-move-word-forward: Alt+L
rofi.kb-move-char-back: Left,Alt+h
rofi.kb-move-char-forward: Right,Alt+l
rofi.kb-remove-word-back: Control+w,Control+BackSpace
rofi.kb-remove-word-forward: Control+Delete
rofi.kb-remove-char-forward: Delete
rofi.kb-remove-char-back: BackSpace
rofi.kb-remove-to-eol: Control+L
rofi.kb-remove-to-sol: Control+H
rofi.kb-accept-entry: Return
rofi.kb-accept-custom: Control+Return
rofi.kb-accept-alt: Shift+Return
rofi.kb-delete-entry: Control+x
rofi.kb-mode-next: Shift+Right,Control+Tab
rofi.kb-mode-previous: Control+Shift+Tab
rofi.kb-row-left: Control+Page_Up
rofi.kb-row-right: Control+Page_Down
rofi.kb-row-up: Up,Control+k
rofi.kb-row-down: Down,Control+j
rofi.kb-row-tab: Tab
rofi.kb-page-prev: Page_Up,Control+p,Control+K
rofi.kb-page-next: Page_Down,Control+n,Control+J
rofi.kb-row-first: Home,KP_Home
rofi.kb-row-last: End,KP_End
rofi.kb-row-select: Control+r
rofi.kb-screenshot: 
rofi.kb-toggle-case-sensitivity: grave,dead_grave
rofi.kb-toggle-sort: Alt+grave
rofi.kb-cancel: Escape,Control+d,Control+bracketleft
rofi.kb-custom-1: Alt+1
rofi.kb-custom-2: Alt+2
rofi.kb-custom-3: Alt+3
rofi.kb-custom-4: Alt+4
rofi.kb-custom-5: Alt+5
rofi.kb-custom-6: Alt+6
rofi.kb-custom-7: Alt+7
rofi.kb-custom-8: Alt+8
rofi.kb-custom-9: Alt+9
rofi.kb-custom-10: Alt+0
rofi.kb-custom-11: Alt+exclam
rofi.kb-custom-12: Alt+at
rofi.kb-custom-13: Alt+numbersign
rofi.kb-custom-14: Alt+dollar
rofi.kb-custom-15: Alt+percent
rofi.kb-custom-16: Alt+dead_circumflex
rofi.kb-custom-17: Alt+ampersand
rofi.kb-custom-18: Alt+asterisk
rofi.kb-custom-19: Alt+parenleft
rofi.kb-select-1: Super+1
rofi.kb-select-2: Super+2
rofi.kb-select-3: Super+3
rofi.kb-select-4: Super+4
rofi.kb-select-5: Super+5
rofi.kb-select-6: Super+6
rofi.kb-select-7: Super+7
rofi.kb-select-8: Super+8
rofi.kb-select-9: Super+9
rofi.kb-select-10: Super+0
